.form-container-box{
    padding: 20px 40px;
    background-color: #fafafa;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    border: 1px solid rgb(7, 56, 134);
    border-radius: 4px;
}
.merchantInfo p{
    color: rgb(7, 56, 134);
    font-weight: 400;
    font-size: 20px;
}
 .collapsed {
    background-color: rgb(7, 56, 134);
    color: rgb(7, 56, 134);
    font-weight: 400;
    font-size: 20px;
}
/* .cardBody:hover {
    background-color: rgb(7, 56, 134);
    color: white;
  } */