/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  font-size:100%;
  background-color: #f0f0f0;
  font-weight: 400;
}
.tableHeader{
  background-color: #2F528A;
  color: aliceblue;
}
