<div style="padding-left: 45px;">
    <br>
    <h6>
        <a (click)="goToOrders()" style="cursor: pointer;"> Order</a> >New Order
    </h6>
    <br>
    <form [formGroup]="orderForm" *ngIf="this.orderForm">
        <div class="row formOne">
            <div class="col-5">
                <br>
                <h6 style="font-weight: 700;">Merchant Information</h6>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label for="name">Company Name:</label>
                            <input id="name" type="text" class="form-control" formControlName="companyName" />
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label for="busness">Business ID:</label>
                            <input id="busness" type="text" class="form-control" formControlName="busnessID" />
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label for="phone">Phone Number:</label>
                            <input id="phone" type="text" class="form-control" formControlName="phoneNumber" />
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label for="address">Street Address:</label>
                            <input id="address" type="text" class="form-control" formControlName="streetAddress" />
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label for="post">PostCode:</label>
                            <input id="post" type="text" class="form-control" formControlName="postCode" />
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label for="country">Country:</label>
                            <input id="country" type="text" class="form-control" formControlName="country" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <br>
                <h6 style="font-weight: 700;">Merchant Billing Address</h6>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <input type="radio" value="Dont" formControlName="option">
                                <span i18n>Don't use contrac printed from poplapay</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <input type="radio" value="evoice" formControlName="option">
                                <span i18n>E-invoice</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <input type="radio" value="Don't use " formControlName="option">
                                <span i18n>Invoice</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h6 style="font-weight: 700;">Sales Information</h6>
        <div class="row boxTwo">
            <div class="tickBox">
                <h6>
                    Contract Information
                </h6>

                <p>Use Company Contact Information </p>

                <h6>
                    Settelment Contracts
                </h6>

                <table class="table table-over table-striped">

                </table>


            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn-secondary" data-dismiss="modal">Close</button>
            <button class="editButton" type="submit">Save changes</button>
        </div>
    </form>
</div>