.editButton {
    background-color: #2F528A !important;
    color: aliceblue;
    border-color: #2F528A;
}
/* .olderOrder{
    font-size: 18px;
} */
/* .tableHeader{
    background-color: #2F528A;
    color: aliceblue;
} */