<div class="navContainer">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container" id="topNav">
      <div class="navbar-col navbar-brand left" id="logo">
        <a href="#" class="navbar-brand">
          <img src="../../assets/selel_logo.jpeg" height="45" alt="CoolBrand">
        </a>
        <a class="navbar-brand" [routerLink]="['/']" i18n>SemelPayTerminal</a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse itemList"
        [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link text-dark lineUp">{{userName}}</a>
          </li>

          <li class="nav-item" *ngFor="let l of languages; let i =index">
            <a class="nav-link text-dark lineUp" style="cursor:pointer" *ngIf="l !== languageSetting"
              (click)="languageSelected(l)">{{l | translate}}
            </a>
            <span *ngIf="i === 1"> | </span>

          </li>
          <li class="nav-item logout">
            <a class="nav-link text-dark lineUp" style="cursor:pointer" *ngIf="isAuthenticated" (click)="logout()"
              i18n>Logout</a>
            <a class="nav-link text-dark lineUp" style="cursor:pointer" *ngIf="!isAuthenticated" (click)="login()"
              i18n>Login</a>
          </li>
        </ul>
      </div>
      <div>
      </div>
    </div>

  </nav>
  <hr class="new4" />
  <nav
    class="navbar fixed-center navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 circle">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse center" id="navbarSupportedContent">
      <ul class="nav justify-content-center" id="lowerNav">
        <li class="nav-item limit" routerLinkActive="active">
          <a class="nav-link " routerLink="/Hardware" i18n>Hardware</a>
        </li>
        <li class="nav-item limit" routerLinkActive="active">
          <a class="nav-link" routerLink="/Orders" i18n>Orders</a>
        </li>
        <li class="nav-item limit" routerLinkActive="active">
          <a class="nav-link" routerLink="/Terminals" i18n>Terminals</a>
        </li>
        <li class="nav-item dropdown " routerLinkActive="active">
          <a class="nav-link  dropdown-toggle text-dark" data-toggle="dropdown" i18n>
            Merchants
          </a>
          <ul class="dropdown-menu fade-up">
            <li><a class="dropdown-item" routerLink="/Merchant" i18n> Merchant</a></li>
            <li><a class="dropdown-item" routerLink="/Merchant/:id" i18n> Detail</a></li>
          </ul>
        </li>
        <li>
        </li>
      </ul>
    </div>

  </nav>
</div>