.left{
    float: left;
}
.batchInfo > * {
    display: inline-block;
    padding: 2rem;
    padding-left: inherit;
}
.infoLable {
    font-weight: 600;
}
.infoSpan {
    color: rgb(7, 56, 134)
}
a{
    color: rgb(7, 56, 134) !important;
    font-weight: 300;
}
h6{
    font-weight: 400;
}
.statusTable{
    padding-left: initial;
}