.tableHeader{
    background-color: #2F528A;
    color: aliceblue;
}
.filter{
    font-size: 1rem;
    font-weight: 600;
}
.hide{
    display: none;
}
.filterInputs {
    display: inline-block;
    margin: 0 25px 15px 0;
    vertical-align: top;
    position: relative;
}
table li{
    font-weight: bolder;
}
.salesInput{
    border-right: 1px solid #767676;
    border-left: 1px solid #767676;
    border-top: 1px solid #767676;
    border-bottom: 8px solid #2F528A;
    width: 200px;
}
/* .fieldSize{
    width: 200px;
    height: 45px;
} */

.newInput {
    width: 15%;
    font-weight: bold;
    background-color: white;
    border: 1px solid;
    font-size: 13px;
    font-family: Arial;
    float: left;
  }
  * {
    margin: 0;
  }
  .left{
    float: left;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    display: table-cell;
    line-height: 1;
    vertical-align: middle;
    padding: 6px
  }

/* .editButton {
    background-color: #2F528A !important;
    color: aliceblue;
    border-color: #2F528A;
}
.modal-content {
    background-color: #EEEEEE;
    border-radius: 2.3rem;
}
.modal-header {
    border-top-left-radius: calc(2.3rem - 1px);
    border-top-right-radius: calc(2.3rem - 1px);
    background-color: #2F528A;
    color: aliceblue;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
} */

a{
    color: rgb(7, 56, 134) !important;
    padding-left: 5%;
}