<div>
    <h6><a routerLink="/Settlement">Settlment ></a></h6>
    <br>

</div>

<router-outlet></router-outlet>
<!-- Table data edit button -->
<!-- <th scope="col"><button class=" btn editButton" (click)="onEdit(Settlment)" data-toggle="modal"
                        data-target="#exampleModal">Edit</button></th>
 </tr> -->

<!-- add button -->
<!-- <button class="btn editButton" (click)="addNewSettlment()" data-toggle="modal" data-target="#exampleModal" i18n>+
        Add
        Settlment Contract</button> -->

<!-- <app-alert (close)="closed()" [message]="error" *ngIf="error"></app-alert>-->
<!-- <app-editor (close)="onClosed()" [message]="error" *ngIf="error"></app-editor> -->
<!-- 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="editorModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editorModalLabel">{{editorTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="settlmentForm" *ngIf="this.settlmentForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name" i18n>Settlment Contract Type:</label>
                                <input id="name" type="text" class="form-control" formControlName="contractType" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name" i18n>Settlment Contract Number:</label>
                                <input id="name" type="text" class="form-control" formControlName="contractNumber" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name" i18n>Merchant Catagory Code:
                                    <input id="name" type="text" class="form-control" formControlName="merchantCode" />
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!editMode">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    <input type="radio" value="Immidietly" formControlName="option">
                                    <span i18n>Immidietly</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!editMode">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    <input type="radio" value="Later" formControlName="option">
                                    <span i18n>Later</span>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-datetime-local-input" class="col-2 col-form-label" i18n>Start Time</label>
                        <div class="col-10">
                            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
                                id="example-datetime-local-input" formControlName="startTime">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-datetime-local-input" class="col-2 col-form-label" i18n>End Time</label>
                        <div class="col-10">
                            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
                                id="example-datetime-local-input" formControlName="endTime">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-secondary" data-dismiss="modal" i18n>Close</button>
                        <button class="editButton" type="submit" i18n>Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div> -->