<div>
    <div class="filter">
        <div class="filterInputs">
            <label for="name">Sales Location
                <br>
                <select class="custom-select salesInput form-control" [(ngModel)]="filterLocation">
                    <option selected> </option>
                    <option *ngFor="let option of locationData" [value]="option.value">{{option.name}}</option>
                </select>
            </label>
        </div>
        <div class="filterInputs">
            <label for="name">Time Range
                <br>
                <div class="wrapper">
                    <input type="datetime-local" class="newInput form-control" style="width:200px;" />
                    <span class="left spanLeft" style="height: 33px;">-</span>
                    <input type="datetime-local" class="newInput form-control" style="width:200px;" />
                </div>

            </label>
        </div>
        <div class="filterInputs">
            <label for="name">Batch
                <br>
                <input type="text" class="newInput form-control" style="width:200px;" [(ngModel)]="filterFeedback">
            </label></div>
    </div>

    <table class="table table-striped table-hover shadow p-3 mb-5 bg-white rounded">
        <thead class="tableHeader">
            <tr>
                <th scope="col">time</th>
                <th scope="col">content</th>
                <th scope="col">batch</th>
                <th scope="col">feedback material</th>
                <th scope="col">sales</th>
                <th scope="col">refund</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Settlment of fauxData">
                <td style="width: 32%;">{{Settlment.time}}</td>
                <td>{{Settlment.content}}</td>
                <td> <a [routerLink]="[Settlment.batch]"> {{Settlment.batch}} </a> </td>
                <td> {{Settlment.feedbackmaterial}}
                    <li style="list-style:none;">
                        Total
                    </li>
                </td>
                <td> {{Settlment.sales}}
                    <li style="list-style:none;">
                        {{Settlment.sales}}
                    </li>
                </td>
                <td>{{Settlment.refund}}
                    <li style="list-style:none;">
                        $0.00
                    </li>
                </td>
        </tbody>
    </table>
</div>

<!-- <router-outlet></router-outlet> -->
<!-- Table data edit button -->
<!-- <th scope="col"><button class=" btn editButton" (click)="onEdit(Settlment)" data-toggle="modal"
                        data-target="#exampleModal">Edit</button></th>
 </tr> -->

<!-- add button -->
<!-- <button class="btn editButton" (click)="addNewSettlment()" data-toggle="modal" data-target="#exampleModal" i18n>+
        Add
        Settlment Contract</button> -->

<!-- <app-alert (close)="closed()" [message]="error" *ngIf="error"></app-alert>-->
<!-- <app-editor (close)="onClosed()" [message]="error" *ngIf="error"></app-editor> -->
<!-- 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="editorModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editorModalLabel">{{editorTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="settlmentForm" *ngIf="this.settlmentForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name" i18n>Settlment Contract Type:</label>
                                <input id="name" type="text" class="form-control" formControlName="contractType" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name" i18n>Settlment Contract Number:</label>
                                <input id="name" type="text" class="form-control" formControlName="contractNumber" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name" i18n>Merchant Catagory Code:
                                    <input id="name" type="text" class="form-control" formControlName="merchantCode" />
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!editMode">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    <input type="radio" value="Immidietly" formControlName="option">
                                    <span i18n>Immidietly</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!editMode">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    <input type="radio" value="Later" formControlName="option">
                                    <span i18n>Later</span>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-datetime-local-input" class="col-2 col-form-label" i18n>Start Time</label>
                        <div class="col-10">
                            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
                                id="example-datetime-local-input" formControlName="startTime">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-datetime-local-input" class="col-2 col-form-label" i18n>End Time</label>
                        <div class="col-10">
                            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
                                id="example-datetime-local-input" formControlName="endTime">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-secondary" data-dismiss="modal" i18n>Close</button>
                        <button class="editButton" type="submit" i18n>Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div> -->